/*
* Color Scheme:
* 
* Background: #00010D
* Borders/Highlights: #122031
* Low-importance text: (clicked links): #0A131A
* Reguar Text: #BFE2FF
* Important Text (links): #566669
*/
.giftGrid, .userGrid {
	position: relative;
	width: 90%;
	border: 1px solid #122031;
	background-color: #0A131A;
	height: 40%;
	left: 50%;
	margin: 20px 0 20px -45%;
}

.giftGrid > h2, .userGrid > h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.giftToken, .userToken {
	float:  left;
	width: 300px;
	overflow: hidden;
	border: 1px solid #122031;
	background-color: #00010D;
	height: 100px;
	margin: 5px;
}

.gridLeft {
	float: left;
}

.gridRight {
	float: right;
	padding: 10px;
	font-size: 12px;
}

.gridThumbnail {
	height: 60px;
	width: 60px;
}

.thumbnailHolder {
	margin: 20px 10px 20px 10px;
}

button.prettyButton {
	padding: 10px;
	border: 1px solid #122031;
	color: #566669;
	font-weight: bold;
	background-color: #0A131A;
	cursor: pointer;
}

div.popupDialog {
	display: none;
	position: absolute;
	z-index: 100;
	left: 45%;
	top: 50px;
	padding: 20px 100px 20px 100px;
	background-color: #00010D;
	border: 1px solid #122031;
}
di.#popupDialog input {
	margin-bottom: 15px;
}
.headButtons {
	padding: 0 75px 0 75px;
}	
